<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
     version="2.5">

    <servlet>
        <servlet-name>BootstrapServlet</servlet-name>
        <servlet-class>com.epickrram.romero.server.web.BootstrapServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>StartBuildServlet</servlet-name>
        <servlet-class>com.epickrram.romero.server.web.StartBuildServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DispatchServlet</servlet-name>
        <servlet-class>com.epickrram.romero.server.web.DispatchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DispatchServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StartBuildServlet</servlet-name>
        <url-pattern>/start</url-pattern>
    </servlet-mapping>
</web-app>