#history-graph
{
    width: 300px;
    height: 120px;
}

#history
{
    float: right;
}

#main-container
{
    float: left;
}

.hidden
{
    display: none;
}

.block
{
    display: block;
}

DIV, SPAN
{
    font-family: monospace;
    font-size: 12px;
}